.community-icon { width: 80%; height: 80%; }
.community-social { padding-bottom: 0 !important; }
.custom-partner-logo { margin-top: 30px !important; }
.profile-link { background-color: #021136; width: 35px; height: 35px; border-radius: 50%; display: flex; justify-content: center; align-items: center; position: absolute; right: 0; bottom: 20px}

.icon-space { display: inline;}
.study-logo { margin-bottom: 20px }
.term-of-use { text-align: left; }

.airdrop {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    background-color: white;
    color: black;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 15px;
    flex-wrap: nowrap;
    margin-bottom: 30px;
}

.airdrop-content {
    display: flex;
    flex: 1;
    margin: 20px;
    text-align: center;
}

@media (min-width: 576px) { .icon-space { display: none; } .study-logo { margin-bottom: 0 } }

@media screen and (max-width: 5000px) and (min-width: 1600px) {
    .airdrop { flex-direction: row; max-width: 40% !important; }
}
@media (min-width: 1200px) { .airdrop { flex-direction: row; max-width: 60%; align-items: center;} .airdrop-content { margin-top: 0; margin-bottom: 0; text-align: left } }
